body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: rgb(215, 255, 250);
}

#sell {
  background-color: rgb(215, 255, 250);
  padding-top: 6rem;
}

section {
  padding-top: 5rem;
}
